
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    border: none;
    outline:none; 
}

/* BUTTONS */

%button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: $regularFont;
    font-weight: bold;
    font-size: 1rem;
    padding: .68rem 1.5rem;
    line-height: normal;
    min-width: 125px;
    text-transform: uppercase;
    border-radius: 4px;

    &:hover {
        opacity: 0.9;
        color: #FFF;

        @media (min-width: 991px) {
            opacity: 0.9;
            color: #FFF;
        }
    }

    &.left {
        margin-right: auto;
        margin-left: 0;
    }

    &.right {
        margin-left: auto;
        margin-right: 0;
    }

    .fa, i, span {
        display: inline-block;
        vertical-align: middle;
        font-size: 0.95rem;
    }

    &:disabled {
        background: #dddddd !important;
        opacity: 0.8;
    }
}

.button--primary {
    @extend %button;
    background-color: $brandColor;
    color: #fff ;
    border: 1px solid $brandColor;

    > .icon-mazda {
        font-size: 1.2rem;
        margin-left: 10px;
        @include transform(translate(0, 0));
        position: relative;
        @include transition(transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1));
    }

    span {
        color: #fff;
        font-weight: 500;
    }

    &:hover {

        @media (min-width: 991px) {
            background: $red;
            border: 1px solid $red;

        }
    }


    &.success {
        background-color: #67bf00;
        border: 1px solid #67bf00;

        &:hover {
            
            @media (min-width: 991px) {
                background: $red;
                border: 1px solid $red;
            }
        }
    }

    &.info {
        background-color: #21b0ef;
        border: 1px solid #21b0ef;

        &:hover {

            @media (min-width: 991px) {
                background: $red;
                border: 1px solid $red;
            }
        }
    }

    &.action {
        background-color: $red;
        border: 1px solid $red;
        color: $white;

    }

    &.light {
        color: $gray-02;
    }

    &.dark {
        background-color: $black;
        border: 1px solid $black;
        color: #FFF;

        &:hover {

            @media (min-width: 991px) {
                background: $red;
                border: 1px solid $red;
            }
        }
    }

    &.white {
        background-color: $white;
        border: 1px solid $white;
        color: $brandColor;

        &:hover {

            @media (min-width: 991px) {
                background: $red;
                border: 1px solid $red;
                opacity: 1;
                color: $white;
            }
        }
    }

    &.disabled {
        background-color: $gray-02;
        border: 1px solid $gray-02;
        color: $gray-04;
        cursor: not-allowed;

        //pointer-events: none;
        &:hover {

            @media (min-width: 991px) {
                opacity: 1;
            }
        }
    }

    &.block {
        display: block;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
}

.button--secondary {
    @extend %button;
    border: 1px solid $brandColor;
    color: $brandColor;
    background: transparent;
    @include transition(all 0.3s ease-in);

    .icon-mazda {
        font-size: 1.2rem;
        margin-left: 10px;
        @include transform(translate(0, 0));
        position: relative;
        @include transition(transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1));
    }

    &:hover {

        @media (min-width: 991px) {
            color: $white;
            background: $darkRed;
            border: 1px solid $darkRed;
        }
    }

    &.success {
        border-color: #67bf00;
        color: #67bf00;

        &:hover {

            @media (min-width: 991px) {
                border: 1px solid $darkRed;
            }
        }
    }

    &.info {
        border-color: #21b0ef;
        color: #21b0ef;

        &:hover {

            @media (min-width: 991px) {
                border: 1px solid $darkRed;
            }
        }
    }

    &.default {
        border-color: $brandColor;
        color: $brandColor;

        &:hover {

            @media (min-width: 991px) {
                border: 1px solid $darkRed;
            }
        }
    }

    &.danger {
        border-color: $red;
        color: $red;
    }

    &.light {
        border-color: $white;
        color: $white;

        &:hover {

            @media (min-width: 991px) {
                border: 1px solid $darkRed;
            }
        }
    }

    &.dark {
        border-color: $darkBg;
        color: $darkBg;
    }

    &.disabled {
        border-color: $gray-04;
        color: $gray-04;
        cursor: not-allowed;

        //pointer-events: none;
        &:hover {
            opacity: 1;

            @media (min-width: 991px) {
                opacity: 1;
            }
        }
    }

    &.block {
        display: block;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
}

.button--small {
    font-size: 0.60rem !important;
    min-width: 0;
    padding: .500rem .50rem;
    line-height: 0.875 !important;
    
    .fa, i, span {
        top: -1px;
    }
}

.button--medium {
    font-size: 0.75rem !important;
    padding: .700rem .75rem;
    min-width: 85px;
}

.button--large {
    font-size: 1.125em !important;
    padding: .600rem 1rem;

    .fa, i, span {
        font-size: 1.2rem;
    }
}

.button--block {
    display: block !important;
    width: 100% !important;
}

