.form-wrapper {
    max-width: 670px;
    position: relative;
    min-height: 100px;

    iframe {
        background: #f7f7f7;
        position: relative;
        z-index: 102;
    }
}

/** == INPUT FIELD **/
.input-wrap {
    position: relative;
    margin-bottom: 20px;


    &.input-search {
        min-width: 280px;


        input[type="text"] {
            border: 1px solid $blue;
        }
    }

    &.input-types {
        max-width: 100px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="time"],
    input[type="date"],
    input[type="password"],
    textarea {
        width: 100%;
        padding: 0px 10px;
        outline: none;
        min-height: 45px;
        line-height: 1.2;
        display: block;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid #000;
        font-size: 1rem;
        resize: none;
        text-overflow: ellipsis;
        border-radius: 3px;
        font-family: $regularFont;
        background: transparent;
        font-weight: 500;

        @include breakpoint(tablet2) {
            min-height: 35px;
        }

        .bg-grey & {
            background: #fff;
        }

        &.error {
            border--bottom: 2px solid #ee6730;
        }
    }

    textarea {
        min-height: 123px;
        line-height: 1.4;
        padding-top: 8px;
        padding-bottom: 8px;
        font-family: $regularFont;
    }

    > label {
        font-size: 1rem;
        color: $black;
        font-weight: 700;
        font-family: $regularFont;
        display: inline-block;
        margin-bottom: 4px;
        text-transform: uppercase;

        @include breakpoint(tablet2) {
            margin-bottom: 4px;
        }
    }

    .error-message {
        position: relative;
        opacity: 0;
        bottom: auto;
        @include transform(translate(0, 0));
        font-size: 12px;
        margin-bottom: 0;
        display: none;
        color: $red !important;
        font-family: $regularFont;
        font-weight: 300;
        text-transform: initial;
    }

    &.error, &.error-field {

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="time"],
        input[type="date"],
        textarea {
            border-bottom: 1px solid $red;
        }


        .error-message {
            opacity: 1;
            display: block;
        }
    }

    .required-field {
        display: inline-block;
        color: $red;
    }


    
}

/** == CUSTOM SELECT **/
.custom-select {

    padding: 0;
    margin: 0;
    min-width: 66px;
    border-radius: 0px;
    overflow: hidden;
    background-color: transparent;
    position: relative;
    font-family: $regularFont;
    border-radius: 3px;
    border: 1px solid $black;

    > label {
        display: inline-block;
        font-size: 12px;
        line-height: 12px;
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -13px;
        color: $black;

        &:before {
            content: '';
            background: url('../../images/arrow-down.png');
            width: 25px;
            height: 25px;
            display: block;
            background-size: 25px;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }


    select {
        padding: 13px 30px 13px 15px;
        width: 100%;
        border-radius: 0;
        border: none;
        font-size: 1rem;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: $brandColor;
        font-family: $regularFont;


        &:focus {
            outline: none;
        }
    }
}

/** == CUSTOM CHECKBOX == **/
.custom-checkbox {
    width: 100%;

    /* CHECKBOX */
    input[type="checkbox"],
    input[type="radio"] {
        position: absolute; // take it out of document flow
        opacity: 0; // hide it

        &+label {
            position: relative;
            cursor: pointer;
            padding: 0;
            padding-bottom: 0;
            padding-left: 35px;
            line-height: 1.8;
            display: block;
            font-size: 1.125rem;
            letter-spacing: 1.8px;
            text-transform: capitalize;
            font-weight: 700;
            opacity: 0.4;
        }

        // Box.
        &+label:before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            //vertical-align: text-top;
            vertical-align: middle;
            width: 18px;
            height: 18px;
            margin-top: -3px;
            margin-left: -30px;
            border-radius: 3px;
            border: solid 1px $gray-03;
            background: transparent;
        }

        // Box hover
        &:hover+label:before {
            border-color: $black;
        }

        // Box focus
        &:focus+label:before {
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
        }

        // Box checked
        &:checked+label:before {
            background: $black;
            border-color: $black;
        }

        // Box checked
        &:checked:hover+label:before {
            //border-color: $blue;
        }

        // Disabled state label
        &:disabled+label {
            color: $gray-04;
            cursor: not-allowed;
        }

        // Disabled box
        &:disabled+label:before {
            box-shadow: none;
            background: $gray-02;
            border-color: $gray-03;
            cursor: not-allowed;
        }

        // Disabled box
        &:disabled:hover+label:before {
            box-shadow: none;
            border-color: $gray-03;
            cursor: not-allowed;
        }

        // Checkbox could be replaced with an image
        &:checked+label:after {
            content: '';
            position: absolute;
            left: 10px;
            top: 15px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow:
                2px 0 0 white,
                4px 0 0 white,
                4px -2px 0 white,
                4px -4px 0 white,
                4px -6px 0 white,
                4px -8px 0 white;
            transform: rotate(45deg);
        }

        &:checked+label {
            opacity: 1;
        }
    }

    /* RADIO BUTTON */
    input[type="radio"] {
        &+label:before {
            border-radius: 100%;
        }

        &:checked+label:after {
            width: 10px;
            height: 10px;
            left: 10px;
            top: 6px;
            transform: none;
            box-shadow: none;
            border-radius: 100%;
        }
    }

}

/** Custom Dropdown UL LI version **/
.custom-dropdown {

    @include breakpoint(tablet) {
        padding: 8px 30px 8px 15px;
        width: 100%;
        border-radius: 3px;
        border: 1px solid #000;
        font-size: 1rem;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #101010;
        position: relative;
        min-height: 43px;
        max-width: 340px;
        margin-right: auto;
        margin-left: auto;

        &:after {
            content: "\e900";
            position: absolute;
            right: 15px;
            top: 15px;
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            display: inline-block;
            vertical-align: middle;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
        
    ul {
        text-align: center;

        @include breakpoint(tablet) {
            display: none;
        }

        @media (min-width: 992px) {
            display: block !important;
        }

        li {
            display: inline-block;
            margin: 0px 5px;

            &.acive {

            }
        }
    }

    .cd-selected {
        display: none;

        @include breakpoint(tablet) {
            display: block;
            font-weight: 500;
            font-size: 1.125rem;
            text-transform: uppercase;
        }
    }
}

.custom-dropdown--action {
    color: $brandColor;
    opacity: 0.6;
    font-size: 1.125rem;
    font-weight: 500;
    display: block;
    padding: 4px 10px;
    position: relative;
    text-transform: uppercase;


    &:after {
        content: '';
        display: block;
        width: 99%;
        height: 2px;
        background: $black;
        position: absolute;
        left: 0;
        bottom: -2px;
        @include transform(scale(0));
        transform-origin: left center;
        

        .custom-dropdown li.active &, .fl-options li.active &  {
            @include transform(scale(1));
            @include transition(all 0.3s cubic-bezier(.445,.05,.55,.95));
        }
    }

    li.active &, &:hover {
        color: $black;
        opacity: 1;
    }
}


