
.column--3  {
    position: relative;
    overflow: hidden;

    > ul {
        margin: 0px -10px; 

        @include breakpoint(phablet) {
            margin-left: 0;
            margin-right: 0;
        }

        > li {
            width: calc(33% - 20px);
            margin: 0px 10px 20px;
            position: relative;
    
            @include breakpoint(phablet) {
                width: 100%;
                margin-bottom: 30px;
                margin-left: 0;
                margin-right: 0;

                padding-bottom: 30px;
                border-bottom: 1px solid rgba($white, 0.3);


                &:last-child {
                    border-bottom: none;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }
    }

    .article-wrap {
        padding-right: 20px;
        position: relative;

        @include breakpoint(phablet) {
            padding-right: 0;
        }

        &:before {
            content:'';
            display: block;
            height: 150px;
            top: 50%;
            right: 15px;
            width: 1px;
            position: absolute;
            margin-top: -75px;
            background: rgba($white, 0.3);

            @include breakpoint(phablet) {
                display: none;
            }
        }
    }

    li {
        &:last-child {

            .article-wrap:before {
                display: none;
            }
        }
    }

}

.column--2  {
    position: relative;
    overflow: hidden;

    > ul {
        margin: 0px -10px;

        @include breakpoint(phablet) {
            margin-left: 0;
            margin-right: 0;
        }

        > li {
            width: calc(50% - 20px);
            margin: 0px 10px 20px;
            position: relative;
    
    
            &:nth-child(n+3) {
                margin-top: 40px;


                @include breakpoint(phablet) {
                    margin-top: 0;
                }
            }
    
    
            @include breakpoint(phablet) {
                width: 100%;
                float: none;
                clear: both;
                margin-bottom: 30px;
                padding-bottom: 30px;
                margin-left: 0;
                margin-right: 0;

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }

    
}

.column--4 {
    position: relative;
    overflow: hidden;

    > ul {
        margin: 0px -10px;

        @include breakpoint(tablet) {
            margin: 0px -10px;
        }

        > li {
            width: calc(25% - 20px);
            margin: 0px 10px 20px;
            position: relative;
    
            @include breakpoint(tablet) {
                width: calc(33.33% - 20px);
            }
    
            @include breakpoint(phablet) {
                width: calc(33.33% - 10px);
                margin: 0px 5px 10px;
            }
        }
    }

    
}