// includes all tags for paragraphs and titles such as header, p, span
h1 {
    font-size: 2.375rem; /** 38px **/
    font-family: $fontA;
	font-weight: 700;
	line-height: 1;

	@include breakpoint(phablet) {
		font-size: 2.5rem;
	} 
}

h2 {
    font-size: 2rem; /** 32px **/
    font-family: $fontA;
	font-weight: 500;

	@include breakpoint(phablet) {
		font-size: 1.75rem;
	}
}

h3 {
    font-size: 1.75rem; /** 28px **/
    font-family: $fontA;
	font-weight: 500;

	@include breakpoint(phablet) {
		font-size: 1.5rem;
	}
}

h4 {
    font-size: 1.5rem; /** 24px **/
    font-family: $fontA;
	font-weight: 500;

	@include breakpoint(phablet) {
		font-size: 1.125rem;
	}
}

h5 {
    font-size: 1.125rem; /** 18px **/
    font-family: $fontA;
	font-weight: 500;
}

h6 {
    font-size: 1rem; /** 16px **/
    font-family: $fontA;
	font-weight: 500;

	
}

em, i {
	font-style: italic;
}

.text--center {
	text-align: center;
}

.text--right {
	text-align: right;
}


.text--left {
	text-align: left;
}

.bt--uppercase {
	text-transform: uppercase;
}