
html,
body {
    // height: 100%;
    // min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

}

html {
    font-size: 16px;
    margin-top: 0 !important;   

    @include breakpoint(phablet) {
        font-size: 14px;
    }

    @include breakpoint(mobile2) {
        font-size: 12px;
    }

}

a,
input[type="submit"],
button {
    @include transition(all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1));
}

.visible {
    opacity: 1;
}

.hiding {
    opacity: 0;
}


#main-container {
    height: 100%;
    height: auto !important;
    min-height: 100%;
    -webkit-transition: padding 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: padding 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: padding 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;

    @include breakpoint(tablet) {
        z-index: 3011;
    }

}

.clearfix:before,
.clearfix:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}

.clr {
    display: block;
    float: none;
    clear: both;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    line-height: 1.63;
    color: $defaultColor;
    font-weight: 400;
    font-family: $regularFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $white;
    min-width: 320px;
    overflow-x: hidden;

    &.no-scroll {
        overflow: hidden;
    }
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10013;
    opacity: 1;
    @include transform(translate(0, 0));
    @include transition(transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.2s ease);

    .menu-not-fix &, &.not-fixed {
        position: absolute;

    }

    &.not-fixed {

        @include breakpoint(desktop) {
            position: fixed;
        }
    }

    @include breakpoint(tablet2) {
        display: block;
        position: relative;
    }

}

.container {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px;

    &:after {
        content:'';
        display: block;
        float: none;
        clear: both;
    }
}


.container-fluid {
    max-width: 100%;
    padding: 0px 30px;
}

strong {
    font-weight: 700;
}

a {
    color: $red;
    text-decoration: none;
    outline: none;
    _noFocusLine: expression(this.hideFocus=true);
    cursor: pointer;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    image-rendering: -webkit-optimize-contrast;
}

.logo {
   
    a.logo--link {

        width: 68px;
        display: block;
        margin-left: -35px;
    }
}

.main-navigation {

    float: left;
    width: calc(100% - 380px);
    padding: 0px 20px;
    margin-right: auto;
    margin-left: auto;
}

.top-menu {
    padding-bottom: 12px;

    ul {
        text-align: center;

        li {
            display: inline-block;
            text-align: center;
            padding: 0px 10px;
        }
    }

    .top-menu-mobile--label {
        display: none;
    }
}

.secondary--link {
    display: block;
    color: $gray-03;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.75rem;

    &:hover {
        color: $white;
    }

    .icon-el {
        display: inline-block;
        margin-left: 4px;
        vertical-align: middle;
        margin-right: 7px;

    }
}

.main--link {
    font-size: 1rem;
    line-height: 1.1;
    color: $white;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    font-family: $fontA;
    padding: 13px 5px;

    &:hover {
        color: $navColor;
        opacity: 0.8;
    }


    .icon-el {
        margin-left: 4px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 2px;
        font-size: 0.88rem;

    }
}

.main-menu {

    .search-wrap {
        display: block;

        @media (min-width: 1025px) {
            display: none !important;
        }
    }

    ul {
        text-align: center;

        li {
            display: inline-block;
            text-align: center;
            padding: 0px 10px;
        }
    }
}

.search-wrap {

    .input-wrap {
        position: relatives;
        margin-bottom: 5px;
        padding-right: 30px;
        

        input[type=text] {
            background: transparent;
            border: none;
            font-size: 0.75rem;
            color: $white;
            text-transform: uppercase;
            text-align: right;

            &::-webkit-input-placeholder { /* Edge */
                color: $gray-03;
            }

            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $gray-03;
            }

            &::placeholder {
                color: $gray-03;
            }
        }

        button {
            position: absolute;
            right: 0;
            top: 0px;
            line-height: 45px;
            border: none;
            background: transparent;
            height: 45px;
            color: $white;
            font-size: 1rem;
            opacity: 0.7;

        }
    }
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 86px;

    @include breakpoint(tablet2) {
        display: block;
        height: auto;
        padding: 10px 0;
    }

    label {
        margin-right: 20px;
    }
}

header {
    background: #f5f5f5;
}

.header-main {

    .input-wrap {
        margin-bottom: 0;
        margin-right: 20px;

        label {
            font-weight: 300;
            font-size: 10px;
            margin-bottom: 2px;
            display: block
        }

        input[type=text] {
            min-height: 41px;
        }
    }
}