

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {

    &:after {
        content:'';
        display: block;
        float: none;
        clear: both;
    }
}

main {
    padding-top: 106px;

    @include breakpoint(tablet2) {
        padding-top: 20px;
    }
}

hr {
    border: none;
    margin: 0;
    border-top: 1px solid rgba($black, 0.2);
}


.lazyload, .lazyloading {
    opacity: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    @include transition(opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), filter 2000ms 500ms, -webkit-filter 2000ms 500ms);
}

.lazyloaded {
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
}

.bg-white {
    background: $white;
}

.bg-gray {
    background: $gray-01;
}

.bg-darkgray {
    background: #272829;
    color: $white;
}

.bg-black {
    background: $black;
    color: $white;

    p {
        color: #d7d7d7;
    }
}

.bg-dark {
    background: $brandColor;
    color: $white;
}

.c--green {
    color: $green;
}

.c--red {
    color: $red;
}

.c--black {
    color: $black;
}

.c--gray {
    color: $gray-04;
}



.sec-pad {

    &.sec-screen {
        position: relative;
        height: calc(100vh - 128px);
        background-color: $brandColor;
        color: $white;
    }

    &.mzd-404-page {
        height: 100vh;
        padding: 0;
    }
}

.gutter {
    padding-left: 30px !important;
    padding-right: 30px !important;
}


.pagination {
    margin-top: 20px;
    margin-bottom: 40px;

    @include breakpoint(tablet) {
        margin-top: 0;
        padding-top: 30px;
        clear: both;
        float: none;
    }

    @include breakpoint(tablet2) {
        margin-bottom: 20px;
    }

    ul {
        display: inline-block;
        vertical-align: middle;

        li {
            display: inline-block;
            margin: 0 3px;

            a {
                font-size: 16px;
                color: #222;
                display: inline-block;
                padding: 5px 10px;
                vertical-align: middle;
                opacity: .6;
                min-width: 35px;
                background: #000;
                text-align: center;
                color: #fff;

                &:hover {
                    background: $darkOrange;
                    color: $white;
                    opacity: 1;
                }
            }

            span {
                display: inline-block;
                margin: 0 6px;
                font-weight: 700;
            }
        }
    }
}


